/*Fonts*/
@font-face {
    font-family: 'Neutra';
    src: url('../src/Neutra.woff2') format('woff2'),
        url('../src/Neutra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Neutra', sans-serif;
    margin: 0px auto;
    text-align: center;
}
p {
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
    text-align: center;
}
#workSection #slide1 p {
    text-align: center;
}
#workSection .slide p {
    text-align: justify;
}
/*Scroll bar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#F800FF 0%, #3100FF 100%);
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#fullpage {
    overscroll-behavior: none;
}
html.fp-enabled,
.fp-enabled body {
     margin: 0;
     padding: 0;
     overflow: hidden;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 .fp-section {
     position: relative;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 .fp-slide {
     float: left;
 }
 .fp-slide, .fp-slidesContainer {
     height: 100%;
     display: block;
 }
 .fp-slides {
     z-index: 1;
     height: 100%;
     overflow: hidden;
     position: relative;
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }
 .fp-section.fp-table, .fp-slide.fp-table {
     display: table;
     table-layout:fixed;
     width: 100%;
 }
 .fp-tableCell {
     display: table-cell;
     vertical-align: middle;
     width: 100%;
     height: 100%;
 }
 .fp-slidesContainer {
     float: left;
     position: relative;
 }
 .fp-controlArrow {
     -webkit-user-select: none; 
     -moz-user-select: none;
     -khtml-user-select: none;
     -ms-user-select: none;
     position: absolute;
     z-index: 4;
     top: 50%;
     cursor: pointer;
     width: 0;
     height: 0;
     border-style: solid;

 }
 .fp-controlArrow.fp-next {
     right: 13vw;
     border: none;
     background-image: url('../src/arrow.svg');
     width: 5.1vw;
     height: 8.775vw;
     -webkit-transform: translateY(-50%) rotate(180deg);
     -ms-transform: translateY(-50%) rotate(180deg);
     transform: translateY(-50%) rotate(180deg);
 }
 .fp-controlArrow.fp-next:hover {
    transition: all 0.1s ease-out;
    -webkit-transform: translateY(-50%) rotate(180deg) scale(1.1);
    -ms-transform: translateY(-50%) rotate(180deg scale(1.1));
    transform: translateY(-50%) rotate(180deg) scale(1.1);
}
 .fp-controlArrow.fp-prev {
    left: 13vw;
    border: none;
    background-image: url('../src/arrow.svg');
    width: 5.1vw;
    height: 8.775vw;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fp-controlArrow.fp-prev:hover {
    transition: all 0.1s ease-out;
    -webkit-transform: translateY(-50%) scale(1.1);
    -ms-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
}
 .fp-scrollable {
     overflow: hidden;
     position: relative;
 }
 .fp-scroller{
     overflow: hidden;
 }
 .iScrollIndicator{
     border: 0 !important;
 }
 .fp-notransition {
     -webkit-transition: none !important;
     transition: none !important;
 }
 #fp-nav {
     position: fixed;
     z-index: 100;
     top: 50%;
     opacity: 1;
     transform: translateY(-50%);
 }
 #fp-nav.right {
     right: 17px;
 }
 #fp-nav.left {
     left: 17px;
 }
 .fp-slidesNav{
     position: absolute;
     z-index: 101;
     opacity: 1;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     left: 50% !important;
     bottom: 0;
 }
 .fp-slidesNav.bottom {
     bottom: 17px;
 }
 .fp-slidesNav.top {
     top: 17px;
 }
 #fp-nav ul,
 .fp-slidesNav ul {
   margin: 0;
   padding: 0;
 }
 #fp-nav ul li,
 .fp-slidesNav ul li {
     display: block;
     width: 20px;
     height: 20px;
     margin: 12px;
     position:relative;
 }
 .fp-slidesNav ul li {
     display: inline-block;
 }
 #fp-nav ul li a,
 .fp-slidesNav ul li a {
     display: block;
     position: relative;
     z-index: 1;
     width: 100%;
     height: 100%;
     cursor: pointer;
     text-decoration: none;
 }
 #fp-nav ul li a.active span,
 .fp-slidesNav ul li a.active span,
 #fp-nav ul li:hover a.active span,
 .fp-slidesNav ul li:hover a.active span{
     height: 18px;
     width: 18px;
     margin: -9px 0 0 -9px;
     border-radius: 100%;
  }
 #fp-nav ul li a span,
 .fp-slidesNav ul li a span {
     border-radius: 50%;
     position: absolute;
     z-index: 1;
     height: 6px;
     width: 6px;
     border: 0;
     background: #333;
     left: 50%;
     top: 50%;
     margin: -2px 0 0 -2px;
     -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
     -o-transition: all 0.1s ease-in-out;
     transition: all 0.1s ease-in-out;
 }
 #fp-nav ul li:hover a span,
 .fp-slidesNav ul li:hover a span{
     width: 14px;
     height: 14px;
     margin: -7px 0px 0px -7px;
 }
 #fp-nav ul li .fp-tooltip {
     position: absolute;
     top: -2px;
     color: #fff;
     font-size: 14px;
     font-family: arial, helvetica, sans-serif;
     white-space: nowrap;
     max-width: 220px;
     overflow: hidden;
     display: block;
     opacity: 0;
     width: 0;
     cursor: pointer;
 }
 #fp-nav ul li:hover .fp-tooltip,
 #fp-nav.fp-show-active a.active + .fp-tooltip {
     -webkit-transition: opacity 0.2s ease-in;
     transition: opacity 0.2s ease-in;
     width: auto;
     opacity: 1;
 }
 #fp-nav ul li .fp-tooltip.right {
     right: 20px;
 }
 #fp-nav ul li .fp-tooltip.left {
     left: 20px;
 }
 .fp-auto-height.fp-section,
 .fp-auto-height .fp-slide,
 .fp-auto-height .fp-tableCell{
     height: auto !important;
 }
 
 .fp-responsive .fp-auto-height-responsive.fp-section,
 .fp-responsive .fp-auto-height-responsive .fp-slide,
 .fp-responsive .fp-auto-height-responsive .fp-tableCell {
     height: auto !important;
 }

div.section h1 {
    font-size: 4vw;
}

div.section p {
    font-size: 2vw;
}

/*Navigation*/

#circleLeft {
    position: fixed;
    left: -10vw;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    background-image: linear-gradient(0deg, #F800FF 0%, #3100FF 100%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}

#circleRight {
    position: fixed;
    right: -10vw;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    background-image: linear-gradient(0deg, #F800FF 0%, #3100FF 100%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}

#circleRightLogo {
    position: fixed;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 7vw;
    z-index: 1;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
}

#fp-nav ul li:nth-child(1) a::after, #fp-nav ul li:nth-child(2) a::after, #fp-nav ul li:nth-child(3) a::after, #fp-nav ul li:nth-child(4) a::after {
    font-family: 'Neutra', sans-serif;
    color: white;
    position: relative;
    left: 25px;
    top: -4px;
    font-size: 22px;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}
#fp-nav ul li:nth-child(1) a::after {content: "Home";}
#fp-nav ul li:nth-child(2) a::after {content: "About";}
#fp-nav ul li:nth-child(3) a::after {content: "Work";}
#fp-nav ul li:nth-child(4) a::after {content: "Talk";}

div#workSection div#slide1 img {
    width: 20vw;
    display: block;
    margin: 20px auto -30px;
    animation: swipeRotateWork 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}


@keyframes swipeRotateWork {
    0%, 100% {
        transform: translateX(-10px) rotate(-5deg);
    } 50% {
        transform: translateX(10px) rotate(5deg);
    }
}

div#homeSection img {
    width: 20vw;
    display: block;
    margin: 20px auto -30px;
    animation: swipeRotateHome 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes swipeRotateHome {
    0%, 100% {
        transform: translateY(-15px) rotate(105deg);
    } 50% {
        transform: translateY(15px) rotate(120deg);
    }
}

#talkForm {
    max-width: 50vw;
    width: 50vw;
    margin: auto;
}

#talkForm input, textarea, button {
    background-image: linear-gradient(90deg, #F800FF 0%, #3100FF 100%);
    border: none;
    border-radius: 5px;
    min-width: 100%;
    display: block;
    padding: 10px;
    margin: 10px 0px;
    color: white;
    font-family: 'Neutra', sans-serif;
    opacity: 1;
    font-size: 2rem;
    text-align: center;
}
#talkForm textarea {
    height: 20vh;
}
#talkForm button {
    min-width: 50%;
    width: 50%;
    margin: auto;
    font-size: 1.75rem;
}
#talkForm input::placeholder, textarea::placeholder {
    color: white;
    font-family: 'Neutra', sans-serif;
    opacity: 1;
    font-size: 2rem;
    text-align: center;
}
#talkForm input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: white;
    font-family: 'Neutra', sans-serif;
    opacity: 1;
    font-size: 2rem;
    text-align: center;
}
#talkForm input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: white;
    font-family: 'Neutra', sans-serif;
    opacity: 1;
    font-size: 2rem;
    text-align: center;
}

.slide ul {
    max-width: 55vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.slide ul li {
    width: 20%;
    margin-top: 20px;
}

.slide ul li img {
    width: 100%;
    box-shadow: #00000050 0px 0px 20px;
    border-radius: 7px;
} 

.slide ul li img:hover {
    box-shadow: #00000035 0px 0px 30px;
    transform: scale(1.1);
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
} 

@media screen and (min-width: 1600px) {
    div#workSection div#slide1 img, div#homeSection img {
        display: none;
    }
    #fp-nav ul li:nth-child(1) a::after, #fp-nav ul li:nth-child(2) a::after, #fp-nav ul li:nth-child(3) a::after, #fp-nav ul li:nth-child(4) a::after {
        font-family: 'Neutra', sans-serif;
        color: white;
        position: relative;
        left: 34px;
        top: -4px;
        font-size: 28px;
    }
    #fp-nav ul li {
        width: 28px;
        height: 28px;
        margin: 15px;
    }
    .fp-slidesNav ul li {
        margin: 15px 7px;
    }
    #fp-nav ul li a.active span,
    .fp-slidesNav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li:hover a.active span{
        height: 24px;
        width: 24px;
        margin: -12px 0 0 -12px;
        border-radius: 100%;
     }
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        height: 10px;
        width: 10px;
        margin: -5px 0 0 -5px;
    }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span{
        width: 18px;
        height: 18px;
        margin: -9px 0px 0px -9px;
    }
    #fp-nav.fp-left {
        left: 5px;
    }
    #talkForm input, textarea, button {
        max-width: 100%;
        padding: 10px;
        margin: 25px 0px;
        font-size: 2rem;
    }
    div.section h1 {
        font-size: 6vw;
        max-width: 55vw;
    }
    div.section p {
        font-size: 2vw;
        max-width: 55vw;
    }
}
@media screen and (max-width: 1600px) {
    div#workSection div#slide1 img, div#homeSection img {
        display: none;
    }
    #fp-nav ul li {
        margin: 20px 5px;
    }
    .fp-slidesNav ul li {
        margin: 15px 5px;
    }
    #fp-nav.fp-left {
        left: 11px;
    }
    #talkForm input, textarea, button {
        max-width: 100%;
        padding: 10px;
        margin: 22px 0px;
        font-size: 2rem;
    }
    div.section h1 {
        font-size: 7vw;
        max-width: 55vw;
    }
    div.section p {
        font-size: 2.25vw;
        max-width: 55vw;
    }
}
@media screen and (max-width: 1400px) {
    div#workSection div#slide1 img, div#homeSection img {
        display: none;
    }
    #fp-nav ul li a::after {
        opacity: 0;
    }
    #fp-nav ul li {
        margin: 20px 5px;
    }
    .fp-slidesNav ul li {
        margin: 5px 2px;
    }
    #fp-nav.fp-left {
        left: 11px;
    }
    #talkForm {
        max-width: 65vw;
        width: 65vw;
        margin: auto;
    }
    #talkForm input, textarea, button {
        max-width: 100%;
        padding: 10px;
        margin: 20px 0px;
        font-size: 2rem;
    }
    #talkForm textarea {
        height: 20vh;
    }
    #talkForm button {
        min-width: 50%;
        width: 50%;
        line-height: 2rem;
    }
    #talkForm input::placeholder, textarea::placeholder {
        color: white;
        font-size: 1.5rem;
    }
    div.section h1 {
        font-size: 8vw;
        max-width: 55vw;
    }
    div.section p {
        font-size: 2.75vw;
        max-width: 55vw;
    }
}
@media screen and (max-width: 900px) {
    div#workSection div#slide1 img, div#homeSection img {
        display: none;
    }
    #circleLeft {
        left: -20vw;
        width: 30vw;
        height: 30vw;
    }
    #circleRight {
        right: -20vw;
        width: 30vw;
        height: 30vw;
    }
    #fp-nav ul li {
        margin: 3px 6px;
    }
    .fp-slidesNav ul li {
        margin: 3px 3px;
    }
    #fp-nav.fp-left {
        left: 9px;
    }
    #fp-nav ul li a::after {
        opacity: 0;
    }
    div.section h1 {
        font-size: 8vw;
        max-width: 55vw;
    }
    div.section p {
        font-size: 2.75vw;
        max-width: 55vw;
    }
    #talkForm {
        max-width: 65vw;
        width: 65vw;
        margin: auto;
    }
    #talkForm input, textarea, button {
        max-width: 100%;
        padding: 10px;
        margin: 15px 0px;
        font-size: 1rem;
    }
    #talkForm textarea {
        height: 20vh;
    }
    #talkForm button {
        min-width: 50%;
        width: 50%;
        line-height: 1rem;
    }
    #talkForm input::placeholder, textarea::placeholder {
        color: white;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    div#workSection div#slide1 img, div#homeSection img {
        display: block;
    }
    #circleLeft {
        left: -33vw;
        width: 45vw;
        height: 45vw;
    }
    #circleRight {
        right: -33vw;
        width: 45vw;
        height: 45vw;
    }
    #fp-nav ul li {
        margin: 3px 6px;
    }
    .fp-slidesNav ul li {
        margin: 0px 0px;
    }
    #fp-nav.fp-left {
        left: 0px;
    }
    #circleRightLogo {
        position: fixed;
        right: 1.5vw;
        top: 50%;
        transform: translateY(-50%);
        width: 8.5vw;
        z-index: 1;
    }
    #fp-nav ul li a::after {
        opacity: 0;
    }
    #talkForm {
        max-width: 65vw;
        width: 65vw;
        margin: auto;
    }
    #talkForm textarea {
        height: 20vh;
    }
    #talkForm input, textarea, button {
        max-width: 100%;
        padding: 10px;
        margin: 15px 0px;
        font-size: 1rem;
    }
    #talkForm button {
        min-width: 50%;
        width: 50%;
        font-size: 1.75rem;
        line-height: 1rem;
    }
    #talkForm input::placeholder, textarea::placeholder {
        color: white;
        font-size: 1.5rem;
    }
    .fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
        opacity: 0;
        visibility: hidden;
    }
    div.section h1 {
        font-size: 10vw;
        max-width: 65vw;
    }
    div.section p {
        font-size: 4vw;
        max-width: 65vw;
    }
    .slide ul li {
        width: 35%;
    }
    .slide ul {
        max-width: 55vw;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 475px) { 
    .slide ul li {
        width: 40%;
    }
    .slide ul {
        max-width: 55vw;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;
    }
}
@media (max-height: 600px) and (min-width: 900px) {
    #talkForm input, textarea, button {
        max-width: 100%;
        padding: 10px;
        margin: 10px 0px;
        font-size: 1.5rem;
    }
}